.contrainer{
    max-width: 960px;
    margin: 0 auto;
}

.header{
    background: transparent;
    height: 80px;
}

.headercon{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.logocontrainer{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

.logocontrainer a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

.menu{
    display: flex;
    list-style-type: none;
}

.menu li{
    padding-right: 2rem;
}

.menu li a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.menulink{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.mobilemenu{
    display: none;
}

@media  screen and (max-width:480px) {
    .mobilemenu{
        display: block;
        color: rgb(13, 7, 65);
        font-size: 2rem;
    }
    .header{
        padding: 0 2rem;
    }
    .menu{
        width: 100%;
        height: auto;
        display: flex;
        position: absolute;
        left: 100%;
        opacity: 0;
        flex-direction: column;
        top: 64px;
        transition: 0.5s ease;
    }
    .menu.active{
        background: rgb(12, 3, 51);
        left: 0;
        opacity: 1;
        z-index: 1;
        align-content: center;
        transition: 0.5s ease;
        padding-left: 0;
    }
    .menu li{
        padding-right: 0;
    }
    .menulink{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 10px 0;
    }

 
}

.profilepic{
    border-radius: 50%;
    width: 300px;
    margin: 30px;
  }